---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About"

	heroImage="/den-scaled.jpg"
>
	<p>
Being passionate about staying ahead of industry trends, 
I’m proud to be part of <a href="https://memberfix.rocks" target="_blank">Memberfix</a> , 
where we help membership websites excel and 
stand out in a competitive landscape
	</p>

	<p>
I have extensive experience in digital marketing, 
fueled by a passion for web tracking and discovering innovative 
ways to measure website effectiveness. This background allows me 
to optimize performance and boost user engagement through insightful, 
data-driven strategies.	
</p>

	<p>
I enjoy diving into analytics to inform strategies, 
ensuring that each project not only meets technical 
standards but also achieves meaningful results aligned with 
business objectives.
	</p>

</Layout>
