---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to my website!</h1>
			<p>
				I’m Denys, and I specialize in building, fixing, and maintaining websites. 
				While my primary focus is on WordPress, my expertise extends beyond that.
			</p>
			<p>
			<i>“Learning never exhausts the mind.” </i>
				Leonardo da Vinci
			</p>

			<h2> 
			I enjoy working with WordPress and have substantial experience with a variety of technologies and plugins:
			</h2>
			<ul>
				<li>MemberPress</li>
				<li>WooCommerce</li>
				<li>Gravity Forms</li>
				<li>Gravity Kit</li>
				<li>BuddyBoss</li>
				<li>LearnDash</li>
				<li>and many more.</li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
