---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
	</head>
	<body>
		<Header />
		<main>
			<h1>Welcome to my website!</h1>
			<img src="/den-scaled.jpg" alt="Profile picture" class="profile-image" />
			<style>
				.profile-image {
					max-width: 20%;
					border-radius: 50%;
					margin: 2rem auto;
					display: block;
				}
			</style>
			<p>
				I’m Denys, and I specialize in building, fixing, and maintaining websites. 
				While my primary focus is on WordPress, my expertise extends beyond that.
			</p>
			
			</br>
			
			<h3>“Learning never exhausts the mind.” </h3>
			<p>
				Leonardo da Vinci
			</p>

			<section class="section">
				<h2 class="section-title">My Expertise</h2>
				<div class="skills-grid">
					<div class="skill-card">
						<i class="fab fa-wordpress"></i>
						<span>WordPress Development</span>
					</div>
					<div class="skill-card">
						<i class="fas fa-wrench"></i>
						<span>Website Maintenance</span>
					</div>
					<div class="skill-card">
						<i class="fas fa-chart-line"></i>
						<span>Web Tracking</span>
					</div>
					<div class="skill-card">
						<i class="fas fa-tachometer-alt"></i>
						<span>Performance Optimization</span>
					</div>
				</div>
			</section>

			<h2> 
			I enjoy working with WordPress and have substantial experience with a variety of technologies and plugins:
			</h2>
			<ul>
				<li>MemberPress</li>
				<li>WooCommerce</li>
				<li>Gravity Forms</li>
				<li>Gravity Kit</li>
				<li>BuddyBoss</li>
				<li>LearnDash</li>
				<li>and many more.</li>
			</ul>

		</main>
		<Footer />
	</body>
</html>
